<!DOCTYPE html>
<html>
    <head>
        <title>Lecture Videos</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <!-- Javascript and Popper -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	    <link rel="stylesheet" type="text/css" href="https://fontawesome.com/v4.7.0/icon/times">
        <link rel="stylesheet" href="assets/css/lecture.css">
        <link rel="shortcut icon" type="image/png" href="{% static 'images/pict.png' %}" />

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark header ">
            <div class="container-fluid">
            <a  href="home.html"><img class="logo" src="assets/img/pict.png" /></a>
            <div class="select">
                <select name="slct" id="slct">
                  <option value="1">BXE</option>
                  <option value="2">Control Systems</option>
                </select>
            </div>
            <button class="navbar-toggler justify-content-center bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link links" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link links" href="material.html">Course Material</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link links" href="lecture.html">Lecture Videos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link links" href="laboratory.html">Laboratory Videos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link links" href="profile.html">Profile</a>
                </li>
                </ul>
            </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="card"></div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="card"></div>
                </div>
                
            </div>
        </div>

</body>
</html>