body{
    overflow-x: hidden;
    background: whitesmoke;
}
::-webkit-scrollbar{
  width: 10px;
  border-radius: 1px;
  background: #003e3f;
}
::-webkit-scrollbar-track{
 background:whitesmoke ;
 border: 2px solid whitesmoke;
 border-radius: 4px;

} 
::-webkit-scrollbar-thumb{
  width: 24px;
  background: #003546;
  border-radius: 8px; 
 }
.header{
    position: absolute;
    top:0;
    left:0;
    right:-1vw;
    z-index: 1;
    background:whitesmoke;
}
.links{
    margin-right:1.5vw;
    color:white !important;
}
.links:hover{
    color:white !important;
    font-weight: bold;
    background-color:#004658;
    border-radius:3px;
}
.logo{
    height: 60px;
    width:60px;
}
.sub{
    margin-left:1.5vw;
}

/* Subject Dropdown */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .select {
    position: relative;
    display: flex;
    width: 12em;
    height: 3em;
    line-height: 3;
    background: transparent;
    overflow: hidden;
    border-radius: .25em;
    margin-left:1.5vw;
    color:white;
  }
  select {
    flex: 1;
    padding: 0 1em;
    color: #fff;
    cursor: pointer;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #34495e;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  /* Transition */
  .select:hover::after {
    color: #004658;
  }

/* Main Body */

.units{
   margin-top:7vw;
}
.unit-no{
    width:12vw;
    color:white;
    background:#004658;
    border:1px solid whitesmoke;
}
.name{
    font-size: 22px;
    font-weight: 500;
    color: #fff;
}

/* */
/* Animation */
/* */
#hourglass {
    opacity: 1;
    font-size: 8rem;
}
#hourglass i {
    opacity: 0;
    animation: hourglass 2.4s ease-in infinite, hourglass-spin 2.4s ease-out infinite;
}
#hourglass > i:nth-child(1) {
    color: #ffc400;
    animation-delay: 0s, 0s;
}
#hourglass > i:nth-child(2) {
    color: #ffc400;
    animation-delay: 0.6s, 0s;
}
#hourglass > i:nth-child(3) {
    color: #ffab00;
    animation-delay: 1.2s, 0s;
}
#hourglass > i:nth-child(4) {
    color: #ffc400;
    animation-delay: 1.8s, 0s;
}
#hourglass > i:nth-child(4) {
    animation: hourglass-end 2.4s ease-in infinite, hourglass-spin 2.4s ease-out infinite;
}
#hourglass > i:nth-child(5) {
    color: #006064;
    opacity: 1;
    animation: hourglass-spin 2.4s ease-out infinite;
}
@keyframes hourglass {
    0% {
        opacity: 1;
   }
    24% {
        opacity: 0.9;
   }
    26% {
        opacity: 0;
   }
}
@keyframes hourglass-end {
    0% {
        opacity: 0;
   }
    70% {
        opacity: 0;
   }
    75% {
        opacity: 1;
   }
    100% {
        opacity: 1;
   }
}
@keyframes hourglass-spin {
    75% {
        transform: rotate(0deg);
   }
    100% {
        transform: rotate(180deg);
   }
}

/* Layout */

.not-found{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:-3vw;
}
.content{
    font-size: 2vw;
    color:#004658;
    font-weight: 500;
    margin-top:-1.7vw;
}
.oops{
    color:tomato;
    font-weight: bold;
}

/* Footer */

a {
    color: #fff;
    text-decoration: none;
  }
  .pg-footer {
    font-family: 'Roboto', sans-serif;
  }
  .footer {
      background-color: #222023;
      background-image: -webkit-linear-gradient( top, #222023, #1e2c47 );
      background-image: -moz-linear-gradient( top, #222023, #1e2c47 );
      background-image: -o-linear-gradient( top, #222023, #1e2c47 );
      background-image: linear-gradient( to bottom, #222023, #1e2c47 );;
      color: #fff;
      height:auto;
  }
  .footer-content {
      margin-left: 15vw;
      max-width: 1230px;
      padding: 40px 15px;
      position: relative;
  }
  .footer-content-column {
      box-sizing: border-box;
      float: left;
      margin-left: 15vw;
      padding-left:5vw;
      width: 100%;
      color: #fff;
  }
  .footer-content-column ul li a {
    color: #fff;
    text-decoration: none;
  }
  .footer-menu {
      margin-top: 2vw;
  }
  .footer-menu-list {
      list-style: none;
      margin-bottom: 0;
      margin-top: 15px;
      padding-left: 0;
  }
  .footer-menu-list li {
      margin-top: 10px;
  }
  .footer-copyright {
      border-top:1px solid whitesmoke;
      width:80%;
      margin-left:10%;
      color: #fff;
      padding: 15px 30px;
      text-align: center;
  }
  
  .footer-copyright-wrapper {
      margin-left: auto;
      margin-right: auto;
      max-width: 1200px;
  }
  
  .footer-copyright-text {
      color: #fff;
      font-size: 15px;
      font-weight: 500;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
  }
  
  .footer-copyright-link a {
      color: #00AACC;
      text-decoration: none;
  }
  .footer-copyright-link a:hover{
    color: #fff;
    text-decoration: none;
  }
  
  /* Media Query For different screens */
  @media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    body{
        overflow-x: hidden !important;
    }
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 350px;
      position: relative;
    }
    .footer-content-column {
      margin-left: 1vw;
    }
    #hourglass{
        font-size:10rem;
    }
    .not-found{
        margin-top:10%;
    }
    .content{
        margin-top:-15%;
        font-size:6vw;
        margin-bottom:5vw;
    }
    .dropdown{
        margin-top: 15vw;
    }
  }
  @media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 500px;
      position: relative;
    }
  }
  @media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 500px;
      position: relative;
    }
  }
  @media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
  
  }
  @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
  
  }
  @media (min-width:1281px) { /* hi-res laptops and desktops */
  
  }
  
  @media (min-width: 760px) {
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 250px;
        position: relative;
    }
    .footer-content-column {
        width: 24.99%;
    }
  }
  @media (min-width: 568px) {
    /* .footer-content-column {
        width: 49.99%;
    } */
  }
