body{
    overflow-x: hidden;
}
/*.brdr{
    border:1px solid red;
}*/
::-webkit-scrollbar{
  width: 10px;
  border-radius: 1px;
  background: #004658;;
}
::-webkit-scrollbar-track{
 background:whitesmoke ;
 border: 2px solid whitesmoke;
 border-radius: 4px;

} 
::-webkit-scrollbar-thumb{
  width: 24px;
  background: #004658;
  border-radius: 8px; 
 }
/* Subject Dropdown */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .select {
    position: relative;
    display: flex;
    width: 12em;
    height: 2.5em;
    line-height: 2.5;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
    margin-left:1.5vw;
  }
  select {
    flex: 1;
    padding: 0 1em;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #34495e;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  /* Transition */
  .select:hover::after {
    color: #004658;
  }
/* Navbar and Heading */
.header{
    position: absolute;
    top:0;
    left:0;
    right:-1vw;
    z-index: 1;
    color: white !important;
}
.pg-footer{
    width: 102%;
}
.logo{
    height:60px;
    width:60px;
}
.sub{
    margin-left:1.5vw;
    color: white !important;
}
.top-bg{
    height:35vw;
    width:102%;
    background-repeat: no-repeat;
    background-size: cover;
}
.links{
    margin-right:1.5vw;
    color:white !important;
}
.links:hover{
    color:white;
    font-weight: bold;
    background-color:#004658;
    border-radius: 3px;
}
.subject{
    width: 102%;
    display: flex;
    font-size: 5vw;
    height:35vw;
    font-weight: bold;
    color:white;
    background:rgba(0,0,0,0.45);
    text-align: center;
    justify-content: center;
    align-items: center !important;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Main body */
.outcomes{
    background: #004658;
}
.main-body{
    border:none;
    margin:3vw;
    background: #004658;
    color:white;
}
.points li{
    margin-top:1vw;
}
.syllabus{
    background:white;
    color:#004658;
    border:none;
    width:34vw;
    cursor:pointer;
}
.syllabus:hover{
    transform: scale(1.05);
    transition:0.5s linear;
}
.course{
    width:90%;
    color:white;
    border-bottom:1px solid whitesmoke;
}
.course-sylb{
    width:90%;
    border-bottom: 1px solid white;
    color:white;
    margin-left:5vw;
    margin-bottom: 3vw;
}
.unit-image{
    height:10vw;
    width:10vw;
    margin-right:1vw;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:5px;
}
.whole{
    margin-top:2vw;
    margin-bottom:3vw;
    margin-left: -1vw;
}
.left{
    margin-left:2.5vw;
}
.des{
    height: 15vw;
    overflow: auto;
}
/* Footer */

a {
    color: #fff;
    text-decoration: none;
  }
  .pg-footer {
    font-family: 'Roboto', sans-serif;
  }
  .footer {
      background-color: #222023;
      background-image: -webkit-linear-gradient( top, #222023, #1e2c47 );
      background-image: -moz-linear-gradient( top, #222023, #1e2c47 );
      background-image: -o-linear-gradient( top, #222023, #1e2c47 );
      background-image: linear-gradient( to bottom, #222023, #1e2c47 );;
      color: #fff;
      height:auto;
  }
  .footer-content {
      margin-left: 15vw;
      max-width: 1230px;
      padding: 40px 15px;
      position: relative;
  }
  .footer-content-column {
      box-sizing: border-box;
      float: left;
      margin-left: 15vw;
      padding-left:5vw;
      width: 100%;
      color: #fff;
  }
  .footer-content-column {
    color: #fff;
    text-decoration: none;
  }
  .footer-menu {
      margin-top: 2vw;
  }
  .footer-menu-list {
      list-style: none;
      margin-bottom: 0;
      margin-top: 15px;
      padding-left: 0;
  }
  .footer-menu-list li {
      margin-top: 10px;
  }
  .footer-copyright {
      border-top:1px solid whitesmoke;
      width:80%;
      margin-left:10%;
      color: #fff;
      padding: 15px 30px;
      text-align: center;
  }
  
  .footer-copyright-wrapper {
      margin-left: auto;
      margin-right: auto;
      max-width: 1200px;
  }
  
  .footer-copyright-text {
      color: #fff;
      font-size: 15px;
      font-weight: 500;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
  }
  
  .footer-copyright-link a {
      color: #00AACC;
      text-decoration: none;
  }
  .footer-copyright-link a:hover{
    color: #fff;
    text-decoration: none;
  }
  
  /* Media Query For different screens */
  @media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    body{
        overflow-x: hidden !important;
    }
    /*.outcomes{
        --bs-gutter-x:0;
    }*/
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 350px;
      position: relative;
    }
    .footer-content-column{
        margin-left: 1vw;
    }
    .top-bg{
        height:70vw;
    }
    .des{
    height: 55vw;
    overflow: auto;
    }
    .subject{
        height:58.2vw;
        align-items: center !important;
        font-size: 7.5vw;
        margin-top:12vw;
    }
    .syllabus{
        width:85%;
        margin-left:7.5vw;
    }
    .unit-image{
       display: none;
    }
    .right{
        margin-left:3vw;
    }
  }
  @media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 500px;
      position: relative;
    }
  }
  @media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 500px;
      position: relative;
    }
  }
  @media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
  
  }
  @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
  
  }
  @media (min-width:1281px) { /* hi-res laptops and desktops */
  
  }
  
  
  
  
  @media (min-width: 760px) {
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 250px;
        position: relative;
    }
    .footer-content-column {
        width: 24.99%;
    }
  }
  @media (min-width: 568px) {
    /* .footer-content-column {
        width: 49.99%;
    } */
  }
  